{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Удаление клиента
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <p>Хотите удалить данные клиента: {{ client.first_name }} {{ client.last_name }} ({{ client.email
                        }})"?</p>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'mailings:client_list' %}" class="btn btn-warning">Отменить</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}