{% extends 'main/base.html' %}
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-12 mb-5">
            {% if user.is_authenticated %}
            <a href="{% url 'mailings:message_create' %}" class="btn btn-primary btn-lg">Добавить сообщение</a>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in message_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6 class="card-text">Тема: {{ message.subject_line }}</h6>
                        <p class="card-text">Сообщение: {{ message.body }}</p>
                        <div class="btn-group">
                            {% if user.is_authenticated %}
                            <a href="{% url 'mailings:message_detail' message.pk %}"
                               class="btn btn-primary btn-sm">Посмотреть</a>
                            {% endif %}
                            {% if user == message.owner %}
                            <a href="{% url 'mailings:message_update' message.pk %}"
                               class="btn btn-primary btn-sm">Изменить</a>
                            <a href="{% url 'mailings:message_delete' message.pk %}"
                               class="btn btn-primary btn-sm">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}